{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    {% if not current_user.is_authenticated %}
    <h3 class="title">Login</h3>
    {% endif %}
    <div class="box">
        {% if signup %}
            <div class="notification is-success">
                Your account was successfully created
            </div>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}<br>Go to <a href="{{ url_for('auth.signup') }}">sign up page</a>.
            </div>
        {% endif %}
        {% endwith %}
        {% if not current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
        {% else %}
        <a href="{{ url_for('home') }}"><u>Go Home</u></a>
        {% endif %}
    </div>
</div>
{% endblock %}